{{define "admin_nav"}}
<header id="admin-header">
  <nav>
    <a href="/">
      <h1>KamFram</h1>
    </a> 
    
    <ul>
        <li>
          <a {{if eq .request.URL.Path "/" }}class="active"{{end}} href="/">Home</a>
        </li>

        <li>
          <a {{if contains .request.URL.Path "/admin" }}class="active"{{end}} href="/admin">Admin</a>
        </li>

        {{if .is_authenticated}}
        <li>
          <a href="/admin/logout">Logout</a>
        </li>
        {{end}}
    </ul>
  </nav>
</header>
{{end}}

