{{define "admin_head"}}
<!-- PWA -->
<link rel="icon" type="image/png" href="/static/admin/logo192.png"/>
<link href="/manifest.webmanifest" rel="manifest">
<meta content="yes" name="mobile-web-app-capable">
<meta content="Go APP" name="application-name">
<meta content="#0A0302" name="theme-color">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="Go APP" name="apple-mobile-web-app-title">
<meta content="default" name="apple-mobile-web-app-status-bar-style">
<meta content="#ffffff" name="msapplication-TileColor">

<!-- LOCAL -->
<link rel="stylesheet" href="/static/admin/style.css">
<link rel="preload" href="/static/tools/notification.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="/static/tools/notification.css"></noscript>
{{end}}