{{define "admin_scripts"}}
<script>
    window.addEventListener('load', () => {
      if ('serviceWorker' in navigator) {
              navigator.serviceWorker.register('/sw.js')
              .then((reg) => {
                  // registration worked
                  //console.log('Registration succeeded. Scope is ' + reg.scope);
              }).catch((error) => {
                  // registration failed
                  console.log('Registration failed with ' + error);
              });
      }
    })
</script>

<script src="/static/tools/getandpost.js"></script>
<script src="/static/tools/notification.js"></script>

</body>
</html>
{{end}}